// .kbnPage {
//   min-height: calc(100vh - #{($euiHeaderHeightCompensation * 2)});
// }

// .kbnPage--fullHeight {
//   height: calc(100vh - #{($euiHeaderHeightCompensation * 2)});
//   overflow: hidden;

//   .euiPageBody {
//     overflow: hidden;
//   }
// }

// .kbnPage__resizer {
//   height: calc(100vh - #{($euiHeaderHeightCompensation * 2)});
//   top: $euiHeaderHeightCompensation * 2;
//   position: sticky;
// }
