@import './variables';

// @import './page';

@import './fixed/index';
@import './padding/index';

.euiButtonContent > * + * {
  &:empty {
    margin: 0;
  }
}

.euiBody--collapsibleNavIsDocked {
  transition: none;
}

.euiCollapsibleNav--isDocked {
  animation: none;
}

.euiTab:not(.euiTab--small) {
  @include euiFontSizeM;
}

.euiCard--primaryTitle .euiCard__title {
  color: $euiLinkColor;
}

//** Helpers to add

.eui-fullHeight {
  height: 100%;
}

.eui-overflowHidden {
  overflow: hidden;
}

.euiCollapsibleNavGroup__children:empty {
  display: none;
}

.euiSideBar--dynamic + .euiSideNavItem__items,
.euiSideBar--dynamic {
  background: transparentize($euiColorLightShade, .75);
  box-shadow: 20px 0px 0px 8px transparentize($euiColorLightShade, .75), -20px 0px 0px 8px transparentize($euiColorLightShade, .75);
}

.euiListGroupItem--primary .euiListGroupItem__text:not(:disabled),
.euiListGroupItem--primary .euiListGroupItem__button:not(:disabled) {
  color: $euiColorPrimary !important;
}

.euiListGroupItem--primary.euiListGroupItem-isActive,
.euiListGroupItem--primary.euiListGroupItem-isClickable:hover {
  background-color: transparentize($euiColorPrimary, .9) !important;
}
