.dscPage {
  display: flex;
  flex-direction: row;
}

.dscPageSidebar {
  margin: 0;
  height: 100%;
  padding: $euiSize $euiSize 0 $euiSize;
}

.dscPageContent__wrapper {
  padding: 0;
  border-left: $euiBorderThin !important;
}
