.dscPage {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.dscPageBody {
  > .euiResizableContainer {
    height: 100%;
  }
}

.dscPageSidebar {
  margin: 0;
  height: 100%;
  padding: 0 $euiSize;

  .pageScreenshot {
    filter: contrast(103%);
  }
}

.dscPageContent__wrapper {
  display: flex;
  padding: 0 $euiSize $euiSize 0;
}
