.euiPageSideBar {
  padding: $euiSizeL;
  margin-right: 0;
}

// IF there's a sidebar, we add definition and fully white page body
.euiPageSideBar + .euiPageBody {
  border-left: $euiBorderThin;
}

.euiPageBody--panelled {
  border-radius: 0;
  border: none;
}

// If there's a header, add a dividing line
.euiPageHeader + .euiPageContent {
  border-top: $euiBorderThin;
}
